In [22]:
%%sql

CREATE TABLE Invoice (
    Invoice_ID INT,
    Customer INT,
    Product_Name VARCHAR(50)
);

INSERT INTO Invoice (Invoice_ID, Customer, Product_Name) VALUES
(1111, 1, 'qq'),
(1112, NULL, 'ww'),
(1113, 10, 'pp'),
(1114, 2, 'lkl'),
(1115, 2, 'lkl'),
(1116, 3, 'asas'),
(1117, 9, 'wef'),
(1118, NULL, 'vxh');

 * sqlite://
(sqlite3.OperationalError) table Invoice already exists
[SQL: CREATE TABLE Invoice (
    Invoice_ID INT,
    Customer INT,
    Product_Name VARCHAR(50)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [23]:
%%sql
SELECT * FROM Invoice;

 * sqlite://
Done.

KeyError: ''

Q2. Write a query to find out list of customers present in CUSTOMER1 table which are not present in CUSTOMER2 table (DON'T USE IN or NOT IN).

In [24]:
SELECT c1.Customer_ID, c1.Customer_Name
FROM Customer1 c1
LEFT JOIN Customer2 c2 ON c1.Customer_ID = c2.Customer_ID
WHERE c2.Customer_ID IS NULL;

SyntaxError: invalid syntax (1034796794.py, line 1)

In [25]:
import sqlite3
import pandas as pd

# Step 1: Connect to in-memory SQLite database
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Step 2: Create table
cursor.execute('''
CREATE TABLE Invoice (
    Invoice_ID INT,
    Customer INT,
    Product_Name VARCHAR(50)
)
''')

# Step 3: Insert data
data = [
    (1111, 1, 'qq'),
    (1112, None, 'ww'),
    (1113, 10, 'pp'),
    (1114, 2, 'lkl'),
    (1115, 2, 'lkl'),
    (1116, 3, 'asas'),
    (1117, 9, 'wef'),
    (1118, None, 'vxh')
]

cursor.executemany("INSERT INTO Invoice VALUES (?, ?, ?)", data)
conn.commit()

# Step 4: Query and show as DataFrame
df = pd.read_sql_query("SELECT * FROM Invoice", conn)
print(df)

   Invoice_ID  Customer Product_Name
0        1111       1.0           qq
1        1112       NaN           ww
2        1113      10.0           pp
3        1114       2.0          lkl
4        1115       2.0          lkl
5        1116       3.0         asas
6        1117       9.0          wef
7        1118       NaN          vxh